# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/

# VS Code
.vscode/

# Environment files
.env

# Docker
*.log
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Other
*.sqlite3
*.db

# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
